
{% extends 'nurse_dashboard/base.html' %}
{% load crispy_forms_tags %}


{% block content %}
<form method = 'POST'>
    {% csrf_token %}
    <div class="col-8">
        
        {{form|crispy}}

    </div>
    <button type="submit" value='save' class="btn btn-primary mx-5">Change</button>

</form>
{% if msg in messages %}
 <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
 <script>
    swal('Changed!','Password Changed Successfully',{{ msg }})
 </script>
{% endif %}
{% endblock content %}