{% extends 'pharmacy/base.html' %}
{% load static %}
{% block content %}
    <section class="h-100 h-custom card" style="background-color: #eee;">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col">
                    <div class="card">
                        <div class="card-body p-4">
                            <div class="row">

                                <div class="col-lg-7">
                                    <h5 class="mb-3">
                                        <a href="#!" class="text-body"><i class="fas fa-long-arrow-alt-left me-2"></i>Continue shopping</a>
                                    </h5>
                                    <hr>
                                    <div class="d-flex justify-content-between align-items-center ">
                                        <div>
                                            <p class="mb-1">
                                                Shopping cart
                                            </p>
                                            <p class="mb-0">
                                                You have 4 items in your cart
                                            </p>
                                        </div>
                                        <div>
                                            <p class="mb-0">
                                                <span class="text-muted">Sort by:</span> <a href="#!" class="text-body">price <i class="fas fa-angle-down mt-1"></i></a>
                                            </p>
                                        </div>
                                    </div>
                                    <!-- cart list -->

                                    <div class="card mb-3">
                                        <div class="card-body">
                                            <div class="d-flex justify-content-between">
                                                <div class="d-flex flex-row align-items-center">
                                                    <div>
                                                        <img src="https://www.gsk.com/media/4138/panadol.jpg?anchor=center&mode=crop&quality=90&width=530&height=500&rnd=131522792690000000"
                                                             class=" rounded-3"
                                                             alt="Shopping item"
                                                             style="width: 65px;">
                                                    </div>
                                                    <div class="ms-3">
                                                        <h5>Panadol</h5>
                                                        <p class="small mb-0">
                                                            descripyion
                                                            copmany
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="d-flex flex-row align-items-center">
                                                    <div style="width: 50px;">
                                                        <h5 class="fw-normal mb-0">2</h5>
                                                    </div>
                                                    <div style="width: 80px;">
                                                        <h5 class="mb-0">$900</h5>
                                                    </div>
                                                    <a href="#!"><i class="fas fa-trash-alt text-dark"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            <!-- cart list -->

                                </div>

<!-- atm card details -->

                                <div class="col-lg-5">
                                    <div class="card bg-primary text-white rounded-3">
                                        <div class="card-body">
                                            <div class="d-flex justify-content-between align-items-center ">
                                                <h5 class="mb-0">Card details</h5>
                                            </div>
                                            <a href="#!" type="submit" class="text-primary"><i class="fab fa-cc-mastercard fa-3x me-2"></i></a>
                                            <a href="#!" type="submit" class="text-primary"><i class="fab fa-cc-visa fa-3x me-2"></i></a>
                                            <a href="#!" type="submit" class="text-primary"><i class="fab fa-cc-amex fa-3x me-2"></i></a>
                                            <a href="#!" type="submit" class="text-primary"><i class="fab fa-cc-paypal fa-3x"></i></a>
                                            <form class="mt-4">
                                                <div class="form-outline form-white ">
                                                    <label class="form-label" for="typeName">Cardholder's Name</label>
                                                    <input type="text"
                                                           id="typeName"
                                                           class="form-control form-control-lg"
                                                           siez="17"
                                                           placeholder="Cardholder's Name"/>
                                                </div>
                                                <div class="form-outline form-white ">
                                                    <label class="form-label" for="typeText">Card Number</label>
                                                    <input type="text"
                                                           id="typeText"
                                                           class="form-control form-control-lg"
                                                           siez="17"
                                                           placeholder="1234 5678 9012 3457"
                                                           minlength="19"
                                                           maxlength="19"/>
                                                </div>
                                                <div class="row ">
                                                    <div class="col-md-6">
                                                        <div class="form-outline form-white">
                                                            <label class="form-label" for="typeExp">Expiration</label>
                                                            <input type="text"
                                                                   id="typeExp"
                                                                   class="form-control form-control-lg"
                                                                   placeholder="MM/YYYY"
                                                                   size="7"
                                                                   id="exp"
                                                                   minlength="7"
                                                                   maxlength="7"/>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-outline form-white">
                                                            <label class="form-label" for="typeText">Cvv</label>
                                                            <input type="password"
                                                                   id="typeText"
                                                                   class="form-control form-control-lg"
                                                                   placeholder="&#9679;&#9679;&#9679;"
                                                                   size="1"
                                                                   minlength="3"
                                                                   maxlength="3"/>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                            <hr class="my-4">
                                            <div class="d-flex justify-content-between">
                                                <p class="mb-2">
                                                    Subtotal
                                                </p>
                                                <p class="mb-2">
                                                    $4798.00
                                                </p>
                                            </div>
                                            <div class="d-flex justify-content-between">
                                                <p class="mb-2">
                                                    Shipping
                                                </p>
                                                <p class="mb-2">
                                                    $20.00
                                                </p>
                                            </div>
                                            <div class="d-flex justify-content-between ">
                                                <p class="mb-2">
                                                    Total(Incl. taxes)
                                                </p>
                                                <p class="mb-2">
                                                    $4818.00
                                                </p>
                                            </div>
                                            <button type="button" class="btn btn-outline-primary btn-block btn-lg">
                                                <div class="d-flex justify-content-between">
                                                    <span>$4818.00</span>
                                                    <span>Checkout <i class="fas fa-long-arrow-alt-right ms-2"></i></span>
                                                </div>
                                            </button>
                                        </div>
                                    </div>
                                </div>

                                <!-- /atm card details -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
