{% extends 'pharmacy/base.html' %}
{% load static %}
{% block title %}
Products
{% endblock title %}
{% block content %}
    
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <button class="navbar-toggler"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#navbarNavDropdown"
                            aria-controls="navbarNavDropdown"
                            aria-expanded="false"
                            aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">Medicines</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " aria-current="page" href="#">Lab Tests</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Doctor Consults</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Women's Health</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle"
                                   href="#"
                                   id="navbarDropdownMenuLink"
                                   role="button"
                                   data-bs-toggle="dropdown"
                                   aria-expanded="false">
                                    Care
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <li>
                                        <a class="dropdown-item" href="#">Personal Care</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#">Baby Care</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#">Life Style & Fitness</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <!-- /searc bar -->
        <!-- navbar -->
        <!-- drugs image row -->
        <div class="row m-0">
            <hr class="clearfix w-100 d-md-none">
            <div class=" col-lg-4 col-md-4 col-sm-4 pl-sm-1 pr-sm-0">
                <img name="jsbutton"
                     src="{% static 'images/products/posture_drug1.jpg' %}"
                     width="100%"
                     border="0"
                     alt="javascript button"
                     class="d-md-block d-none">
            </div>
            <div class="col-12 d-block d-sm-none">
                <br>
            </div>
            <div class=" col-lg-4 col-md-4 col-sm-4 pl-sm-0 pr-sm-1">
                <img src="{% static 'images/products/posture_drug2.jpg' %}"
                     class="d-md-block d-none"
                     width="100%"
                     alt="Over The Counter">
            </div>
            <div class="col-12 d-block d-sm-none">
                <br>
            </div>
            <div class=" col-lg-4 col-md-4 col-sm-4 pl-sm-0 pr-sm-1">
                <img src="{% static 'images/products/posture_drug3.jpg' %}"
                     class="d-md-block d-none"
                     width="100%"
                     style="margin-top:4px;"
                     alt="Special Orders">
            </div>
        </div>
        <!-- /drug image row -->
        <!-- our products -->
        <h3 class="m-5 text-primary">Popular Products</h3>
        <div class="text-center container products_list ">
            <div class="row">
                {% for list in data %}
                    <!-- card start -->
                    <div class="col-lg-3 col-md-6 col-sm-6 mb-4"
                         style="box-shadow: 0px 3px 3px 0 #8d7d6a; ">
                        <div class="card">
                            <a href="">
                                <div class="bg-image">
                                    <span class="notify-badge ">{{ list.availibility }}</span>
                                    <img class="img-fluid img-responsive rounded product-image"
                                         src="{{ list.image.url }}">
                                </div>
                            </a>
                            <div class="card-body">
                                    <h5 class="card-title ">{{ list.title }}</h5>
                                <hr >
                                <div class="row prices">
                                    <div class="col-4 p-0">
                                        <span class="mb-2  float-end">Rs:{{ list.old_price }}</span>
                                    </div>
                                    <div class="col-8 p-0">
                                        <h6 class="mb-2 text-danger  ms-2 float-start">Rs:{{ list.new_price }}</h6>
                                    </div>
                                </div>
                                <!--<button class="btn btn-primary btn-sm w-100 buy-button" type="button">Buy</button>-->
                                <button class="cart-button w-100 rounded">
                                    <span class="add-to-cart">Add to cart</span>
                                    <span class="added">Added</span>
                                    <i class="fas fa-shopping-cart"></i>
                                    <i class="fas fa-box"></i>
                                </button>
                                
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <!-- card ends -->
            </div>
        </div>
    </section>

    <script>
        const cartButtons = document.querySelectorAll('.cart-button');

        cartButtons.forEach(button => {
            button.addEventListener('click', cartClick);
        });
        
        function cartClick() {
            let button = this;
            button.classList.add('clicked');
        }

    </script>
{% endblock content %}
